<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itbaizhan.shopping_goods_service.mapper.GoodsMapper">
    <!-- 添加商品_规格项数据 -->
    <insert id="addGoodsSpecificationOption">
        INSERT INTO bz_goods_specification_option VALUES(#{gid},#{optionId})
    </insert>
    <!-- 删除商品下的所有规格项 -->
    <delete id="deleteGoodsSpecificationOption" parameterType="java.lang.Long">
        DELETE FROM bz_goods_specification_option WHERE gid = #{gid}
    </delete>
    <!-- 商品上/下架 -->
    <update id="putAway">
        UPDATE bz_goods SET isMarketable = #{isMarketable} WHERE id = #{id}
    </update>

    <!-- 根据id查询商品详情Map映射 -->
    <!--讲解，resultMap只起映射作用，property是商品实体的属性，
    column是查询结构集合的字段名，就是查完返回数据的字段名。
    不起id是因为5个id会冲突，所以起别的id名
    -->
    <resultMap id="goodsMapper" type="com.itbaizhan.shopping_common.pojo.Goods">
        <id property="id" column="bid"></id>
        <result property="goodsName" column="goodsName"></result>
        <result property="caption" column="caption"></result>
        <result property="price" column="price"></result>
        <result property="headerPic" column="headerPic"></result>
        <result property="isMarketable" column="isMarketable"></result>
        <result property="brandId" column="brandId"></result>
        <result property="productType1Id" column="productType1Id"></result>
        <result property="productType2Id" column="productType2Id"></result>
        <result property="productType3Id" column="productType3Id"></result>
        <result property="introduction" column="introduction"></result>
        <collection property="images" column="bid" ofType="com.itbaizhan.shopping_common.pojo.GoodsImage">
            <id property="id" column="imageId"></id>
            <result property="imageTitle" column="imageTitle"></result>
            <result property="imageUrl" column="imageUrl"></result>
        </collection>
        <collection property="specifications" column="bid" ofType="com.itbaizhan.shopping_common.pojo.Specification">
            <id property="id" column="specificationId"></id>
            <result property="specName" column="specName"></result>
            <result property="productTypeId" column="productTypeId"></result>
            <collection property="specificationOptions" column="specificationId" ofType="com.itbaizhan.shopping_common.pojo.SpecificationOption">
                <id property="id" column="optionId"></id>
                <result property="optionName" column="optionName"></result>
            </collection>
        </collection>
    </resultMap>

    <!-- 根据id查询商品详情 -->
    <!--讲解
    `	反引号	包裹字段名、表名
    '	单引号	包裹字符串值
    "	双引号	一般不用
    这些可加可不加
    然后where条件必须是数据库的字段名，不能用别名
    查询后的数据可起别名，然后因为别名相同映射到实体类中
    -->
    <select id="findById" resultMap="goodsMapper">
        SELECT
            bz_goods.`id` bid,
            bz_goods.`goodsName` goodsName,
            bz_goods.`caption` caption,
            bz_goods.`price` price,
            bz_goods.`headerPic` headerPic,
            bz_goods.`introduction` introduction,
            bz_goods.`isMarketable` isMarketable,
            bz_goods.`brandId` brandId,
            bz_goods.`productType1Id` productType1Id,
            bz_goods.`productType2Id` productType2Id,
            bz_goods.`productType3Id` productType3Id,
            bz_goods_image.`id` imageId,
            bz_goods_image.`imageTitle` imageTitle,
            bz_goods_image.`imageUrl` imageUrl,
            bz_specification.`id` specificationId,
            bz_specification.`specName` specName,
            bz_specification.`productTypeId` productTypeId,
            bz_specification_option.`id` optionId,
            bz_specification_option.`optionName` optionName
        FROM
            bz_goods,
            bz_goods_specification_option,
            bz_specification_option,
            bz_specification,
            bz_goods_image
        WHERE bz_goods.`id` = bz_goods_specification_option.`gid`
          AND bz_goods_specification_option.`optionId` = bz_specification_option.`id`
          AND bz_specification.`id` = bz_specification_option.`specId`
          AND bz_goods.`id` = bz_goods_image.`goodsId`
          AND bz_goods.id = #{gid}
    </select>

    <!-- 查询所有商品详情 -->
    <resultMap id="goodsDescMapper" type="com.itbaizhan.shopping_common.pojo.GoodsDesc">
        <id property="id" column="bid"></id>
        <result property="goodsName" column="goodsName"></result>
        <result property="caption" column="caption"></result>
        <result property="price" column="price"></result>
        <result property="headerPic" column="headerPic"></result>
        <result property="isMarketable" column="isMarketable"></result>
        <result property="introduction" column="introduction"></result>
        <!-- 一个商品 对应 一个品牌 / 一个一级分类 /
         一个二级分类 / 一个三级分类（一对一关系） -->
        <association property="brand" column="brandId" javaType="com.itbaizhan.shopping_common.pojo.Brand">
            <id property="id" column="brandId"></id>
            <result property="name" column="brandName"></result>
        </association>
        <association property="productType1" column="type1Id" javaType="com.itbaizhan.shopping_common.pojo.ProductType">
            <id property="id" column="type1Id"></id>
            <result property="name" column="type1Name"></result>
            <result property="level" column="type1Level"></result>
            <result property="parentId" column="type1ParentId"></result>
        </association>
        <association property="productType2" column="type2Id" javaType="com.itbaizhan.shopping_common.pojo.ProductType">
            <id property="id" column="type2Id"></id>
            <result property="name" column="type2Name"></result>
            <result property="level" column="type2Level"></result>
            <result property="parentId" column="type2ParentId"></result>
        </association>
        <association property="productType3" column="type3Id" javaType="com.itbaizhan.shopping_common.pojo.ProductType">
            <id property="id" column="type3Id"></id>
            <result property="name" column="type3Name"></result>
            <result property="level" column="type3Level"></result>
            <result property="parentId" column="type3ParentId"></result>
        </association>

        <!-- 一个商品 对应 多张图片 / 多个规格；一个规格 对应 多个规格选项 -->
        <collection property="images" column="bid" ofType="com.itbaizhan.shopping_common.pojo.GoodsImage">
            <id property="id" column="imageId"></id>
            <result property="imageTitle" column="imageTitle"></result>
            <result property="imageUrl" column="imageUrl"></result>
        </collection>
        <collection property="specifications" column="bid" ofType="com.itbaizhan.shopping_common.pojo.Specification">
            <id property="id" column="specificationId"></id>
            <result property="specName" column="specName"></result>
            <result property="productTypeId" column="productTypeId"></result>
            <collection property="specificationOptions" column="specificationId" ofType="com.itbaizhan.shopping_common.pojo.SpecificationOption">
                <id property="id" column="optionId"></id>
                <result property="optionName" column="optionName"></result>
            </collection>
        </collection>
    </resultMap>


    <select id="findAll" resultMap="goodsDescMapper">
        SELECT
            bz_goods.id bid,
            bz_goods.goodsName goodsName,
            bz_goods.caption caption,
            bz_goods.price price,
            bz_goods.headerPic headerPic,
            bz_goods.introduction introduction,
            bz_goods.isMarketable isMarketable,
            bz_goods.brandId brandId,
            bz_brand.`name` brandName,
            type1.id type1Id,
            type1.`name` type1Name,
            type1.`level` type1Level,
            type1.parentId type1ParentId,
            type2.id type2Id,
            type2.`name` type2Name,
            type2.`level` type2Level,
            type2.parentId type2ParentId,
            type3.id type3Id,
            type3.`name` type3Name,
            type3.`level` type3Level,
            type3.parentId type3ParentId,
            bz_goods_image.id imageId,
            bz_goods_image.imageTitle imageTitle,
            bz_goods_image.imageUrl imageUrl,
            bz_specification.id specificationId,
            bz_specification.specName specName,
            bz_specification.productTypeId productTypeId,
            bz_specification_option.id optionId,
            bz_specification_option.optionName optionName
        FROM
            bz_goods,
            bz_goods_image,
            bz_brand,
            bz_specification,
            bz_specification_option,
            bz_goods_specification_option,
            bz_product_type AS type1,
            bz_product_type AS type2,
            bz_product_type AS type3
        WHERE bz_goods.id = bz_goods_specification_option.gid
          AND bz_goods_specification_option.optionId = bz_specification_option.id
          AND bz_specification.id = bz_specification_option.specId
          AND bz_goods.brandId = bz_brand.id
          AND bz_goods.id = bz_goods_image.goodsId
          AND bz_goods.productType1Id = type1.id
          AND bz_goods.productType2Id = type2.id
          AND bz_goods.productType3Id = type3.id
    </select>

    <!--根据id查询商品详情-->
    <select id="findDesc" resultMap="goodsDescMapper">
        SELECT
            bz_goods.id bid,
            bz_goods.goodsName goodsName,
            bz_goods.caption caption,
            bz_goods.price price,
            bz_goods.headerPic headerPic,
            bz_goods.introduction introduction,
            bz_goods.isMarketable isMarketable,
            bz_goods.brandId brandId,
            bz_brand.`name` brandName,
            type1.id type1Id,
            type1.`name` type1Name,
            type1.`level` type1Level,
            type1.parentId type1ParentId,
            type2.id type2Id,
            type2.`name` type2Name,
            type2.`level` type2Level,
            type2.parentId type2ParentId,
            type3.id type3Id,
            type3.`name` type3Name,
            type3.`level` type3Level,
            type3.parentId type3ParentId,
            bz_goods_image.id imageId,
            bz_goods_image.imageTitle imageTitle,
            bz_goods_image.imageUrl imageUrl,
            bz_specification.id specificationId,
            bz_specification.specName specName,
            bz_specification.productTypeId productTypeId,
            bz_specification_option.id optionId,
            bz_specification_option.optionName optionName
        FROM
            bz_goods,
            bz_goods_image,
            bz_brand,
            bz_specification,
            bz_specification_option,
            bz_goods_specification_option,
            bz_product_type AS type1,
            bz_product_type AS type2,
            bz_product_type AS type3
        WHERE bz_goods.id = bz_goods_specification_option.gid
          AND bz_goods_specification_option.optionId = bz_specification_option.id
          AND bz_specification.id = bz_specification_option.specId
          AND bz_goods.brandId = bz_brand.id
          AND bz_goods.id = bz_goods_image.goodsId
          AND bz_goods.productType1Id = type1.id
          AND bz_goods.productType2Id = type2.id
          AND bz_goods.productType3Id = type3.id
          AND bz_goods.id = #{id}
    </select>


</mapper>
